.body{
    background-color: hsl(217, 54%, 11%);
}
.font{
    font-family: "[Outfit](https://fonts.google.com/specimen/Outfit)";
    color: white
}

p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.price{
    float: left;   
    color: hsl(178, 100%, 50%);
}

.daysLeft{
    float: right;
    
}

.mainCard{
    background-color: hsl(216, 50%, 16%);
    
}

.main-container{
    border-radius: 50px;
    height: 1000px;
    width: 700px;
    margin: auto;
    
}

.bigImg{
    height: 604px;
    width: 604px;
    margin-top: 40px;

}

.imgContainer{
    display: flex;
    justify-content: center;
}

.contentContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.contentContainer h1{
    margin-left: 45px;
}

.contentContainer p{
    margin-left: 45px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container p{
    margin-left: 45px;
    margin-right: 45px;
}

hr{
    color: hsl(215, 32%, 27%);
}

.creator{
    
}

img{
    border-radius: 20px;
}